/* Navbar Styles */
.navbar {
  display: flex;
  transition: 0.2s ease;
}

/* Navbar Toggler Styles */
.navbar-toggler,
.navbar-toggler.collapsed {
  border: none !important;
  box-shadow: none !important;
  width: 20px;
  position: relative;
  transition: 0.3s ease;
}

/* Toggler Icon Styles */
.toggler-icon {
  display: block;
  position: absolute;
  height: 24px;
  top: -100%;
  width: 100%;
  background-color: var(--text-dark);
  left: 0;
}

/* Navbar Toggler Styles */
.toggler-icon.top-bar {
  transition: 0.2s ease;
  transform: rotate(0deg);
}
.toggler-icon.bot-bar {
  transition: 0.3s ease;
  transform: rotate(180deg);
}



/* Navbar Toggler Clicked Styles */
.toggler-icon.rotate-top {
  top: 40%;
  height: 4px;
  transition: 0.3s ease;
  transform: rotate(135deg);
}

.toggler-icon.rotate-bot {
  top: 40%;
  height: 4px;
  transition: 0.2s ease;
  transform: rotate(225deg);
}

/* Navbar Brand and Link Styles */
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--text-dark);
}

.navbar .nav-link {
  color: var(--text-dark);
  position: relative;
}

/* Navbar Link Underline Styles */
.navbar .nav-link::after {
  content: "";
  display: block;
  width: 0; /* Initially set to 0 width */
  height: 2px; /* Adjust the height as needed */
  background-color: var(--text-dark);
  left: 0; /* Initially position it at the left end of the link */
  transition: 0.3s ease; /* Add transition for width property */
}

/* Navbar Link Hover and Active Styles */
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}
